<br>
<h6 class="navigation_bar" style="font-family: 'Source Code Pro', monospace;">
  <a href="/">Home</a> &nbsp; |  &nbsp;
  <a href="/pages/french">French</a>  &nbsp;  | &nbsp;
  <a href="/pages/russian">Russian</a>  &nbsp;  | &nbsp;
  <a href="/pages/yoda">Yoda</a>  &nbsp;  | &nbsp;
  <a href="/pages/about">About</a> </h6>
