<div class="container" style="text-align: center; padding-top: 20%">
  <h3 style="font-family: 'Source Code Pro', monospace;">Hey there!</h3>
  <h3 style="font-family: 'Source Code Pro', monospace;">Which speaking clock would you like to hear?</h3>
  <br>
  <a href="/pages/french" class="btn btn-outline-dark btn-lg " style="border-radius: 30pt;" role="button"> > French</a>
  <a href="#" class="btn btn-outline-dark btn-lg " style="border-radius: 30pt"  role="button">> Link</a>
</div>
