<div class="container" style="text-align: center; padding-top: 20%">
  <h3 style="font-family: 'Source Code Pro', monospace;">Hey there!</h3>
  <h3 style="font-family: 'Source Code Pro', monospace;">Which speaking clock would you like to hear?</h3>
  <br>
    <h6 class = "home-links">
      <a href="/pages/french"  style="font-family: 'Source Code Pro', monospace;"> >_ French</a> &nbsp;&nbsp;
      <a href="/pages/russian" style="font-family: 'Source Code Pro', monospace;"> >_ Russian</a> &nbsp;&nbsp;
      <a href="/pages/yoda" style="font-family: 'Source Code Pro', monospace;"> >_ Yoda</a>


    </h6>
</div>
