

<%= render "navbar" %>
    <div class ="container text-center">
      <br><br>
      <img src="/assets/russian.png" alt="" style="width: 800px;">
      <p style="font-family: 'Source Code Pro', monospace;""><%= @time_phrase %></p>

      <audio controls>
        <source src="<%= @filepath %>" type="audio/mp3">
      </audio>
</div>
