

<%= render "navbar" %>

<!-- <div class="clock" style="padding-top: 20%; text-align: center;
    background-image:url(/assets/russian.png);
		background-repeat:repeat;
		background-attachment:fixed;
		overflow:scroll;
		width:1500px;
		height:500px;
		line-height:2em;"> -->
    <div class ="container text-center">

  <img src="/assets/yoda.png" alt="" style="width: 600px;">
  <!-- <p><%= @filepath %></p> -->
  <p style="font-family: 'Source Code Pro', monospace;""><%= @time_phrase %></p>

  <audio controls autoplay>
    <source src="<%= @filepath %>" type="audio/mp3">
  </audio>


</div>
